<style>
  footer {
    background-color: #1d5e66;
    color: #d4d8db;
  }

  .footer-link {
    color: #d4d8db;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
  }

  .footer-link:hover {
    color: white;
  }

  .footer-social i {
    font-size: 1.3rem;
    margin: 0 10px;
    cursor: pointer;
    transition: color 0.3s ease;
  }

  .footer-social i:hover {
    color: white;
  }

  .f-info {
    padding: 20px 0;
  }
</style>

<footer>
  <div class="container">
    <div class="row text-center ">
      <div class="col-12 mb-2 footer-social">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin-in"></i>
      </div>
      <div class="col-12 mb-2">&copy; Home Ease</div>
      <div class="col-12">
        <a href="/" class="footer-link">Privacy</a>
        <a href="/" class="footer-link">Terms</a>
      </div>
    </div>
  </div>
</footer>
